}
<h1>@ViewData["Title"]</h1>

<p></p>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('https://th.bing.com/th/id/R.9c522a9c50d53bd74d8b66a734e490e8?rik=V8vG1KBHu6lk1Q&pid=ImgRaw&r=0.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(80%);
    }

    header {
        background: #117200;
    }
</style>