}
<h1>@ViewData["Title"]</h1>

<p></p>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('https://th.bing.com/th/id/R.9c522a9c50d53bd74d8b66a734e490e8?rik=V8vG1KBHu6lk1Q&pid=ImgRaw&r=0.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(80%);
    }

    header {
        background: #117200;
    }

    .info {
        position: absolute;
        top: 100px;
        left: 30px;
        justify-content: center;
        align-items: center;
        height: calc(65vh);
        text-align: center;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        width: calc(50%);
    }

    .h1, h1 {
        font-size: calc(1rem + 0.5vw);
    }

    img {
        position: absolute;
        top: 100px;
        right: 50px;
       
    }

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
    }
</style>

<body>
    <div class="info">
        <h1>
            <b>Apen: Boeiende Dieren in de D'Dierentuijn</b>
        </h1>
        <h1>Apen zijn geweldige dieren die je kunt bewonderen in de dierentuin. Ze lijken op mensen en hebben grappige gezichtsuitdrukkingen. Apen houden van klimmen en slingeren tussen de bomen met hun lange armen en staarten. Ze leven in groepen en praten met elkaar door middel van geluiden en beweginge
        </h1>    
        <h1>In de dierentuin krijgen apen goed te eten en hebben ze genoeg speelgoed om mee te spelen. Ze eten allerlei dingen, zoals fruit, bladeren en soms zelfs kleine dieren. Het is belangrijk dat we apen beschermen, omdat ze bedreigd worden in het wild. Dierentuinen helpen bij het behoud van apen door ze te fokken en mensen te leren waarom het belangrijk is om voor ze te zorgen.
        </h1>    
        <h1>Het is belangrijk om apen te beschermen, omdat ze bedreigd worden in het wild. Dierentuinen helpen bij het behoud van apen door fokprogramma's en educatie. Door naar de dierentuin te gaan, kun je leren over apen en waarom het belangrijk is om voor ze te zorgen.
        </h1>
        <h1>Dus, als je de kans hebt, breng dan een bezoek aan onze dierentuin en ontmoet de interessante apen. Je zult versteld staan van hun gedrag en charme. Het is een geweldige manier om meer te leren over deze fantastische dieren en hoe we ze kunnen beschermen.
        </h1>
        <h1><b>Klik op de aap rechts voor een leuk filmpje!</b>
        </h1>
    </div>
</body>

<body>
    <a href=" https://www.youtube.com/watch?v=KN1hSc7HRe0">
        <div class="img">
            <img src="https://media.nu.nl/m/p1tx193a8k93_wd854/chimpansee-aap.jpg">
        </div>
    </a>
</body>


