}
<h1>@ViewData["Title"]</h1>

<p></p>
<style>
    body {
        margin: 0;
        padding: 0;
        background-image: url('https://th.bing.com/th/id/OIP.NywbqWG6mXeUyuF0GBiKTgHaE8?pid=ImgDet&rs=1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        filter: brightness(80%);
    }

    header {
        background: #ffd800;
    }
</style>