}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/Giraffe.css" asp-append-version="true" />
</head>

<body>
    <div class="info">
        <h1>
            <b>Giraffe: Het dier met de lange nek</b>
        </h1>
        <h1>
            Giraffen zijn buitengewone en gracieuze dieren die een prominente plaats innemen in de Afrikaanse savanne. Met hun lange nekken en elegante tred zijn ze een van de meest herkenbare en geliefde bewoners van de natuur. In dit artikel zullen we je alles vertellen wat je moet weten over giraffen, hun kenmerken en waarom ze zo bijzonder zijn.
        </h1>
        <h1>
            Giraffen behoren tot de hoogste landdieren ter wereld. Ze hebben een uniek kenmerk: hun lange nekken. Met hun nekken kunnen ze bladeren en takken bereiken die voor andere dieren onbereikbaar zijn. Daarnaast hebben ze grote, expressieve ogen en kenmerkende hoorns, ook wel ossicones genoemd, op hun hoofd.
        </h1>
        <h1>
            Wat giraffen echt speciaal maakt, is hun onderscheidende patroon van vlekken op hun huid. Net zoals vingerafdrukken bij mensen, is het vlekkenpatroon van elke giraffe uniek. 
        </h1>
        <h1>
            Giraffen leven in open graslanden en savannes in Afrika. Ze zijn herbivoren en hun voedsel bestaat voornamelijk uit bladeren en takken van bomen. Hun lange nekken stellen hen in staat om bij de hoogste en meest voedzame bladeren te komen. Ze kunnen zelfs hun tongen uitstrekken om bladeren te plukken die zich hoog boven hun hoofd bevinden.
        </h1>
        <h1>
            Als je meer wilt leren over giraffen en hun fascinerende levenswijze, nodigen we je uit om onze dierentuin te bezoeken. Hier kun je deze gracieuze dieren van dichtbij bewonderen en hun unieke kenmerken en gedrag bestuderen. Mis de kans niet om oog in oog te staan met deze prachtige wezens en ontdek waarom giraffen zo'n betoverende aanwezigheid hebben in de natuur.
        </h1>
        <h1>
            <b>Klik op de giraffe rechts voor een leuk filmpje!</b>
        </h1>
    </div>
</body>

<body>
    <a href="https://www.youtube.com/watch?v=PkcXT4KSKEU">
        <div class="giraffe">
            <img src="https://images.pexels.com/photos/802112/pexels-photo-802112.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        </div>
    </a>
</body>




  