<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Mijn Website</title>
    <style>
        .cookie-popup {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            font-family: Arial, sans-serif;
            font-size: 14px;
            line-height: 1.4;
            border-radius: 8px;
            z-index: 9999;
        }

            .cookie-popup p {
                margin-bottom: 10px;
            }

            .cookie-popup a {
                color: #fff;
                text-decoration: underline;
            }

            .cookie-popup button {
                background-color: #fff;
                color: #333;
                border: none;
                padding: 8px 16px;
                font-family: Arial, sans-serif;
                font-size: 14px;
                border-radius: 4px;
                cursor: pointer;
            }

        header {
            background: #FFA500;
        }

        .circle img {
            max-width: 100%;
            max-height: 100%;
        }

        body {
            margin: 0;
            padding: 0;
            background-image: url('https://i.imgur.com/ss1L9Hg.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            filter: brightness(80%);
            background-color: #3333FF;
            position: relative;
        }

        .linkaap {
            position: absolute;
            top: 100px;
            left: 50px;
        }

            .linkaap img {
                width: 350px;
                height: 350px;
                border-radius: 50%;
            }

        .linkdolfijn {
            position: absolute;
            top: 500px;
            left: 50px;
        }

         .linkdolfijn img {
                width: 350px;
                height: 350px;
                border-radius: 50%;
            }

        .linkleeuw {
            position: absolute;
            top: 100px;
            right: 50px;
        }

            .linkleeuw img {
                width: 350px;
                height: 350px;
                border-radius: 50%;
            }

        .linkgiraffe {
            position: absolute;
            top: 500px;
            right: 50px;
        }

            .linkgiraffe img {
                width: 350px;
                height: 350px;
                border-radius: 50%;
            }

        .header {
            position: fixed;
            top: 0;
            width: 100%;
            height: 60px;
            background-color: white;
            color: black;
            padding: 10px;
            z-index: 999;
        }

        .info {
            position: absolute;
            top: 700px;
            right: 590px;
            justify-content: center;
            align-items: center;
            height: calc(20vh);
            text-align: center;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            width: calc(40%);
        }

        .content {
            margin-top: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: calc(40vh);
            text-align: center;
            color: #FFFFFF;
            background-color: rgba(0, 0, 0, 0.8);
            padding: 20px;
            width: calc(60%);
            margin-left: 250px;
            margin-bottom: -20px;
        } 
            
        .h1, h1
        {
            font-size: calc(1rem + 0.5vw);
        }



       
        }
    </style>
</head>

<body>
    <a href="http://localhost:5010/Home/Aap">
            <div class="linkaap">
                <img src="https://th.bing.com/th/id/OIP.GxtMJS-lQVps-H8HmudEEwHaHa?pid=ImgDet&w=500&h=500&rs=1">
            </div>
    </a>
    <a href="http://localhost:5010/Home/Dolfijn">
        <div class="linkdolfijn">
            <img src="https://dierenwiki.nl/wp-content/uploads/2021/04/Dolfijnen-Dolfijnen.jpg">
        </div>
    </a>
    <a href="http://localhost:5010/Home/Leeuw">
        <div class="linkleeuw">
            <img src="https://dierenwiki.nl/wp-content/uploads/2019/01/Leeuwen-1-300x300.jpg">
        </div>
    </a>
    <a href="http://localhost:5010/Home/Giraffe">
        <div class="linkgiraffe">
            <img src="https://optimise2.assets-servd.host/maniacal-finch/production/animals/reticulated-giraffe-01-01.jpg?w=1200&auto=compress%2Cformat&fit=crop&dm=1658951271&s=179de228b20aafcd748a5f0dc8fde776">
        </div>
    </a>
</body>

<body>
    <div class="content">
        <h1>Welkom bij D'Dierentuijn!
        Dankjewel voor het kiezen voor onze website, wij hebben veel om u aan te bieden. 
        Heeft u zin om dieren te bekijken, of meer? Wij kunnen het regelen. U kunt bij 
        aankoop van een ticket gebruik maken van onze dierenshows, en wij bieden op deze
        website informatie aan over allerlei dieren zodat u zich alvast kan inlezen over
        wat u te zien krijgt! Druk op de foto's van de dieren om meer informatie te vinden!
        </h1>
    </div>
</body>
<body>
    <div class="info">
        <h1> 
            <b> 
            Voor onze info, 
            </b>
        </h1>
        <h1>
            <b>
            Ramses Bude, Westeinde 124 Voorburg, 2275AH, 0643299258
            </b>
        </h1>
        <h1>
            <b>
            Ruben Barensen, Koninginnelaan 62 Voorburg, 0633130000
            </b>
        </h1>
    </div>
</body>
<body>
    <div class="cookie-popup">
        <p>Deze website maakt gebruik van cookies om de gebruikservaring te verbeteren. Door deze site te blijven gebruiken, ga je akkoord met ons <a href="/privacy">privacybeleid</a>.</p>
        <button onclick="acceptCookie()">Accepteren</button>
    </div>

    <script>
        function acceptCookie() {
            var popup = document.querySelector('.cookie-popup');
            popup.style.display = 'none';

            var expirationDate = new Date();
            expirationDate.setDate(expirationDate.getDate() + 365);
            document.cookie = 'cookie_accepted=true; expires=' + expirationDate.toUTCString() + '; path=/';
        }

        var cookieAccepted = document.cookie.replace(/(?:(?:^|.*;\s*)cookie_accepted\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        if (!cookieAccepted) {
            var popup = document.querySelector('.cookie-popup');
            popup.style.display = 'block';
        }
    </script>
</body>
</html>



