<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/Index.css" asp-append-version="true" />
</head>

<body>
    <a href="http://localhost:5010/Home/Aap">
            <div class="linkaap">
                <img src="https://th.bing.com/th/id/OIP.GxtMJS-lQVps-H8HmudEEwHaHa?pid=ImgDet&w=500&h=500&rs=1">
            </div>
    </a>
    <a href="http://localhost:5010/Home/Dolfijn">
        <div class="linkdolfijn">
            <img src="https://dierenwiki.nl/wp-content/uploads/2021/04/Dolfijnen-Dolfijnen.jpg">
        </div>
    </a>
    <a href="http://localhost:5010/Home/Leeuw">
        <div class="linkleeuw">
            <img src="https://dierenwiki.nl/wp-content/uploads/2019/01/Leeuwen-1-300x300.jpg">
        </div>
    </a>
    <a href="http://localhost:5010/Home/Giraffe">
        <div class="linkgiraffe">
            <img src="https://optimise2.assets-servd.host/maniacal-finch/production/animals/reticulated-giraffe-01-01.jpg?w=1200&auto=compress%2Cformat&fit=crop&dm=1658951271&s=179de228b20aafcd748a5f0dc8fde776">
        </div>
    </a>
</body>

<body>
    <div class="intro">
        <h1>Welkom bij D'Dierentuijn!
        Dankjewel voor het kiezen voor onze website, wij hebben veel om u aan te bieden. 
        Heeft u zin om dieren te bekijken, of meer? Wij kunnen het regelen. U kunt bij 
        aankoop van een ticket gebruik maken van onze dierenshows, en wij bieden op deze
        website informatie aan over allerlei dieren zodat u zich alvast kan inlezen over
        wat u te zien krijgt! Druk op de foto's van de dieren om meer informatie te vinden!
    </div>
</body>
<body>
    <div class="info" 
        <h1> 
            <b> 
            Voor onze info, 
            </b>
        </h1>
        <h1>
            <b>
            Ramses Bude, Westeinde 124 Voorburg, 2275AH, 0643299258
            </b>
        </h1>
        <h1>
            <b>
            Ruben Barensen, Koninginnelaan 62 Voorburg, 0633130000
            </b>
        </h1>
        <h1>Onze openingstijden zijn: </h1>
        <h1>Maandag: Gesloten</h1>
        <h1>Dinsdag: Van 8:00 - 17:00</h1>
        <h1>Woensdag: Van 8:00 - 17:00</h1>
        <h1>Donderdag: Van 8:00 - 17:00</h1>
        <h1>Vrijdag: Van 8:00 - 20:00</h1>
        <h1>Zaterdag: Van 11:00 - 20:00</h1>
        <h1>Zondag: Van 8:00 - 20:00</h1>
        <h1> <b>(Openingtijden kunnen afwijken ivm vakanties/feestdagen)</b></h1>
    </div>
</body>
<body>
    <div class="cookie-popup">
        <p>Deze website maakt gebruik van cookies om de gebruikservaring te verbeteren. Door deze site te blijven gebruiken, ga je akkoord met ons privacybeleid.</p>
        <button onclick="acceptCookie()">Accepteren</button>
    </div>

    <script>
        function acceptCookie() {
            var popup = document.querySelector('.cookie-popup');
            popup.style.display = 'none';

            var expirationDate = new Date();
            expirationDate.setDate(expirationDate.getDate() + 365);
            document.cookie = 'cookie_accepted=true; expires=' + expirationDate.toUTCString() + '; path=/';
        }

        var cookieAccepted = document.cookie.replace(/(?:(?:^|.*;\s*)cookie_accepted\s*\=\s*([^;]*).*$)|^.*$/, "$1");
        if (!cookieAccepted) {
            var popup = document.querySelector('.cookie-popup');
            popup.style.display = 'block';
        }
    </script>
</body>
</html>



