@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<style> body {
    margin: 0;
    padding: 0;
        background-image: url('https://th.bing.com/th/id/R.0b49fba36b66fdae515f908a9156827e?rik=poSL2DzddztIOA&riu=http%3a%2f%2f4.bp.blogspot.com%2f-eseGmOJgRss%2fUGsygr1u2EI%2fAAAAAAAAFMw%2fmOVVwnQEprs%2fs1600%2ffoto-van-een-leeuw-in-zijn-natuurlijke-omgeving-hd-leeuwen-wallpaper.jpg&ehk=vEF2PT%2bq5zXdik12P7McfFTkwbj8dzidamN%2f6tEIOSg%3d&risl=&pid=ImgRaw&r=0.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(80%);
}
header {
    background: #DD571C;
}
</style>
