@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<head>
    <link rel="stylesheet" href="~/css/Leeuw.css" asp-append-version="true" />
</head>
<body>
    <div class="info">
        <h1>
            <b>Leeuwen: De Koning van de savanne</b>
        </h1>
        <h1>
            Leeuwen zijn majestueuze dieren die zowel ontzag als bewondering oproepen. Met hun imposante manen en krachtige uitstraling zijn ze een symbool van kracht en trots. In dit artikel zullen we je alles vertellen wat je moet weten over leeuwen, hun kenmerken en waarom ze zo bijzonder zijn.
        </h1>
        <h1>
            Leeuwen behoren tot de grote katachtigen en zijn de koningen van de savanne. Ze hebben een robuust en gespierd lichaam, met een kenmerkende manen die bij mannetjesleeuwen voor extra uitstraling zorgen. Leeuwen hebben scherpe klauwen en krachtige kaken, waarmee ze hun prooien kunnen grijpen en doden.
        </h1>
        <h1>
            Wat leeuwen echt speciaal maakt, is hun sociale structuur. Ze leven in hechte groepen, bekend als troepen, bestaande uit een groep vrouwtjes, hun welpen en enkele mannetjes. De vrouwtjes zijn meestal verantwoordelijk voor de jacht, terwijl de mannetjes de troep beschermen tegen bedreigingen. Deze sociale interacties maken leeuwen tot boeiende dieren om te bestuderen.
        </h1>
        <h1>
            Leeuwen zijn te vinden in de uitgestrekte graslanden en open vlaktes van Afrika. Ze zijn uitstekende jagers en hun dieet bestaat voornamelijk uit grote herbivoren zoals zebra's, gnoes en antilopen. Ze jagen in groepen en gebruiken hun kracht en strategie om hun prooi te overmeesteren.
        </h1>
        <h1>
            Als je meer wilt leren over leeuwen en hun fascinerende levensstijl, nodigen we je uit om onze dierentuin te bezoeken. Hier kun je deze majestueuze dieren van dichtbij observeren en hun gedrag en interacties bestuderen. Mis de kans niet om deze symbolen van kracht en schoonheid te ervaren en ontdek waarom leeuwen terecht als de koningen van de savanne worden beschouwd.
        </h1>
        <h1>
            <b>Klik op de leeuw rechts voor een leuk filmpje!</b>
        </h1>
    </div>
</body>

<body>
    <a href="https://www.youtube.com/watch?v=9A2Bmwv2cqU">
        <div class="leeuw">
            <img src="https://d33b12c77av9bg.cloudfront.net/cache/lg_43/safaripark-beekse-bergen-leeuw-leeuwin.jpg">
        </div>
    </a>
</body>