@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


<style> body {
    margin: 0;
    padding: 0;
    background-image: url('https://www.looopings.nl/img/foto/23/0405bokiafblij.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(80%);
}
    header {
    background: #287233;
}
}</style>