@{
    ViewData["Title"] = "Contact";
}
<h1>@ViewData["Title"]</h1>

<p></p>
<style> body {
    margin: 0;
    padding: 0;
    background-image: url('https://images0.persgroep.net/rcs/4mW2JFXtl7p4RcUnZ2BBF1imtVE/diocontent/178377136/_fill/963/759/?appId=21791a8992982cd8da851550a453bd7f&quality=0.9');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(80%);
}
header {
        background: #67C8FF;
}

    .info {
        position: absolute;
        top: 100px;
        left: 30px;
        justify-content: center;
        align-items: center;
        height: 350px;
        text-align: center;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        width: calc(50%);
    }

    .dolfijnenshow {
        position: absolute;
        top: 150px;
        right: 40px;
    }

        .dolfijnenshow img {
            width: 400px;
            height: 300px;
            border-radius: 50%;
        }

    .leeuwenshows {
        position: absolute;
        top: 550px;
        right: 40px;
    }

        .leeuwenshows img {
            width: 400px;
            height: 300px;
            border-radius: 50%;
        }

    .apenshows {
        position: absolute;
        top: 150px;
        right: 500px;
    }

        .apenshows img {
            width: 400px;
            height: 300px;
            border-radius: 50%;
        }

    .giraffeshows {
        position: absolute;
        top: 550px;
        right: 500px;
    }

        .giraffeshows img {
            width: 400px;
            height: 300px;
            border-radius: 50%;
        }

    .info {
        position: absolute;
        top: 100px;
        left: 30px;
        justify-content: center;
        align-items: center;
        height: calc(90vh);
        text-align: center;
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 20px;
        width: calc(50%);
    }

    .h1, h1 {
        font-size: calc(1rem + 0.5vw);
    }

</style>

<body>
    <div class="info">
        <h1>
            <b>En natuurlijk het belangrijkste: De dierenshows!</b>
        </h1>
        <h1>
        </h1>
        <h1>
            De dolfijnenshows: Elke dinsdag en vrijdag, van 13:00 - 14:00. Hier kunt u dolfijnen zien springen en kunstjes doen met een bal.
        </h1>
        <h1>
            De apenshows: Elke woensdag en zondag van 14:00 - 15:00. Hier zijn allerlei dansende apen te zien!
        </h1>
        <h1>
            Naar leeuwen kijken: Elke donderdag en zaterdag van 13:30 - 14:30. Hier kunt u in een van onze autos mee om een rondje te rijden door ons park! 
        </h1>
        <h1>
            Naar giraffes kijken: Elke woensdag en donderdag van 11:00 - 12:00. Hier kunt u in onze bus meerijden en op zoek door ons park naar de giraffes! 
        </h1>
        <h1>
            Wilt u zien hoe de shows in elkaar zitten, klik dan op het plaatje van het dier waar u een show van wil zien. 
        </h1>
        <h1><b>(Alle shows zijn zo opgezet dat het geen schade veroorzaakt bij de dieren. De leef ruimte van de dieren is groot genoeg en de dieren worden niet mishandeld.)</b></h1>
    </div>
</body>

<body>
    <a href="https://www.youtube.com/watch?v=VbEiB3tuhFM">
        <div class="dolfijnenshow">
            <img src="https://d3rr2gvhjw0wwy.cloudfront.net/uploads/activity_headers/219079/2000x2000-0-70-88161cb2e99d532fa4b642f28b38f92b.jpg">
        </div>
    </a>
</body>
<body>
    <a href="https://www.youtube.com/watch?v=L1ibu6eM2c0">
        <div class="leeuwenshows">
            <img src="https://dierenwiki.nl/wp-content/uploads/2019/01/Leeuwen-1-300x300.jpg">
        </div>
    </a>
</body>
<body>
    <a href="https://www.youtube.com/watch?v=CnOMs9bdxTU">
        <div class="giraffeshows">
            <img src="https://i.guim.co.uk/img/static/sys-images/Guardian/Pix/pictures/2014/2/10/1392039840626/4e7494db-9cfc-4821-ba7f-fe9fc505bdc3-2060x1236.jpeg?width=620&quality=85&dpr=1&s=none">
        </div>
    </a>
</body>
<body>
    <a href="https://www.youtube.com/watch?v=H3j4_vgFuig">
        <div class="apenshows">
            <img src="https://i.pinimg.com/564x/d5/1c/c5/d51cc57645cc7a80dd8e2aef1c37a7d9.jpg">
        </div>
    </a>
</body>